/* Style for the entire page container */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #009161;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    font-family: Arial, sans-serif;
  
}


.chat-bot {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: auto; 
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  background-color: white; 
  height: 600px;
}


.message-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  flex: 1;
  padding: 10px;
  overflow-y: auto; 
  background-color: #005ca3;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  
    
}

.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 60%;
  word-wrap: break-word; 
}


.user-message {
  align-self: flex-end;
  background-color: #e1ffc7;
  border: 1px solid #c3e6cb;
  color: #000;
  text-align: right;
}


.bot-message {
  align-self: flex-start;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #000;
  text-align: left;
}

.message button {
  margin-top: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}


.message img {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 5px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 0 0 0 8px;
  outline: none;
  font-size: 16px;
}


button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 0 0 8px 0;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

form {
  display: flex;
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.im{
  position: absolute;
  bottom: 20%;
  right: 32%;
  width: 50px;
  height: 50px;
  border-radius: 50%
}
.message p {
  margin: 0;
}

.chatbot-header {
  background-color: #4072a4;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #090707;
}

.chatbot-header-logo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.chatbot-header-title {
  margin-left: 10px;
}

.chatbot-header-title h2 {
  margin: 0;
  font-size: 18px;
  color: #000000;
}
